@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Spartan', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.containerSm {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 24px;
}